@model List<Model>
<option disabled hidden selected value="">Pick a Model</option>
@foreach (var item in Model)
{
    <option value="@item.ModelId">@item.ModelName</option>
}
<span id="idBike" hx-swap-oob="innerHTML">
    Waiting Motorcyle Selection
</span>