@model Demo.AspNetCore.Htmx.Models.Manufacturer

<div hx-indicator="this">
    <div>
        <span class="h4">Delete Manufacturer</span>
        @{
            await Html.RenderPartialAsync("_indicator");
        }
    </div>
    <h5>Are you sure you want to delete this?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
    </dl>

    <form asp-antiforgery="true" hx-target="#mainId">
        <button hx-trigger="click,evtHxBackToList from:body delay:1s" type="button" class="btn btn-outline-secondary" hx-get="/Manufacturer/Index" data-loading-disable>
            Back to List
        </button>
        <button class="btn btn-danger" hx-post="/Manufacturer/Delete/@Model.ManufacturerId" data-loading-disable>
            Delete
        </button>
    </form>
</div>
