@model Demo.AspNetCore.Htmx.Models.Manufacturer

<div hx-indicator="this">
    <div>
        <span class="h4">Manufacturer Details</span>
        @{
            await Html.RenderPartialAsync("_indicator");
        }
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
    </dl>
    @*'Back to List' has the same url as the 'nav-link' for 'Manufacturer'.
    'data-loading-states' defines a scope for the loading states so only elements within that scope are processed.
    The nav-link 'Manufacturer' remains enabled*@
    <div hx-boost="true" hx-push-url="false" hx-target="#mainId" data-loading-states>
        <a asp-action="Edit" asp-route-id="@Model?.ManufacturerId" data-loading-class="disabled">Edit</a> |
        <a asp-action="Index" data-loading-class="disabled">Back to List</a>
    </div>
</div>
