@model Demo.AspNetCore.Htmx.Models.Manufacturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div hx-indicator="this">
    <div>
        <span class="h4">Manufacturer</span>
        @{
            await Html.RenderPartialAsync("_indicator");
        }
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
    </dl>

    <div hx-boost="true" hx-push-url="false" hx-target="#mainId">
        <a asp-action="Edit" asp-route-id="@Model?.ManufacturerId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
