@model Demo.AspNetCore.Htmx.Models.Model

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Model</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" hx-target="#mainId" hx-post="/Model/Edit/@Model.ModelId" hx-trigger="confirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModelId" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power_KW" class="control-label"></label>
                <input asp-for="Power_KW" class="form-control" />
                <span asp-validation-for="Power_KW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary w-50">
                    Save
                </button>
                <button hx-get="/Model/Index" type="button" class="btn btn-outline-secondary">
                    Back to List
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/init.validation.js" asp-append-version="true"></script>
