html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/* center text in button if indicator is in the button */
button[sty-pl-2em] {
    padding-left: 2em;
}

button[sty-mw=em7] {min-width: 7em;}
button[sty-mw=em9] {min-width: 9em;}

/* https://htmx.org/attributes/hx-indicator/ */
.dnone-indicator {
    display: none
}

.htmx-request .dnone-indicator {
    display: inline
}

.htmx-request.dnone-indicator {
    display: inline
}