html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/* center text in button if indicator is in the button */
button[sty-pl-2em] {
    padding-left: 2em;
}

button[sty-mw=em7] {min-width: 7em;}
button[sty-mw=em9] {min-width: 9em;}

/* https://htmx.org/attributes/hx-indicator/ */
.dnone-indicator {
    display: none
}

.htmx-request .dnone-indicator {
    display: inline
}

.htmx-request.dnone-indicator {
    display: inline
}

/*Error Message  start*/
#idErrorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    visibility: hidden;
    min-width: 20em;
    max-width: 32em;
}


#idOverlay {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1060;
    /*fixed navbar is 1030 , class modal is 1055*/
    background-color: rgba(0, 0, 0, 0.2);
}

/*Error Message  end*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-800 {
    animation: fadeIn 800ms;
}

/*change display text of toggle element*/
.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}
