@model Model
@{
    if (!string.IsNullOrEmpty(ViewData["TitlePartial"]?.ToString()))
    {
        <title>@ViewData["TitlePartial"] - Demo.AspNetCore.Htmx</title>
    }
}
<div class="row justify-content-center" hx-ext="loading-states">
    <h4 class="text-center"> Choose your Motorcycle</h4>
    <div class="card p-4 col-md-10 col-lg-8">
        <div class="card p-4">
            <div class="form-group" hx-indicator="#indicator">
                <label>Categories</label>
                <select data-loading-disable asp-for="CategoryId" class="form-control" hx-get="Select3x/Manufacturers" hx-target="#ManufacturerId">
                    <partial name="Categories" model="@ViewBag.Categories" />
                    <option disabled hidden selected value="0">Pick a Category</option>
                </select>
            </div>
            <div class="form-group" hx-indicator="#indicator2">
                <label>Manufacturers</label> <span id="indicator" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <select data-loading-disable asp-for="ManufacturerId" class="form-control" hx-get="Select3x/Models" hx-include="[name='CategoryId']" hx-target="#ModelId">
                    <option disabled selected value="0">Pick a Category first</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label>Models</label> <span id="indicator2" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <select data-loading-disable asp-for="ModelId" class="form-control" hx-get="/Select3x/SelectedBike/" hx-target="#idBike">
                    <option disabled selected value="0">Pick a Category first, then a Manufacturer</option>
                </select>
            </div>

            <div class="alert alert-success mt-3" role="alert">
                <h5 id="idBike" class="alert-heading text-center">
                    Waiting Motorcyle Selection
                </h5>
            </div>

        </div>
    </div>
</div>
