@model Demo.AspNetCore.Htmx.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" hx-target="#mainId" hx-post="/Category/Edit/@Model.CategoryId" hx-trigger="confirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary w-50">
                    Save
                </button>
                <button hx-get="/Category/Index" type="button" class="btn btn-outline-secondary">
                    Back to List
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/init.validation.js" asp-append-version="true"></script>