<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*
    To insert rows into tables with htmx and use 'hx-swap-oop' at the same time,
    useTemplateFragments has to be set to true (not IE11 compatible)
    *@
    @*
    Disabling the nav links during htmx requests and enabling them afterwards works with 'data-loading-class="disabled"'.
    However, if the user uses the browser's navigation buttons, the nav links remain disabled. 
    Obviously the page with the added class 'disable' goes into the cache. https://github.com/bigskysoftware/htmx/issues/1114

    Therefore as a workaround until this is fixed:
    "historyCacheSize": 0,"refreshOnHistoryMiss":"true". It disables the cache entirely.
    or if you don't like disabling the nav links anyway', remove 'data-loading-class="disabled"' from then nav links.
    *@
    <meta name="htmx-config" content='{"useTemplateFragments":"true","historyCacheSize": 0,"refreshOnHistoryMiss":"true","timeout":10000}'>


    <title>@ViewData["Title"] - Demo.AspNetCore.Htmx</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Demo.AspNetCore.Htmx.styles.css" asp-append-version="true" />
    <script src="~/lib/htmx.org/dist/htmx.js"></script>
    <script src="~/lib/htmx.org/dist/ext/loading-states.js"></script>
</head>
<body hx-ext="loading-states">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Demo.AspNetCore.Htmx</a>
                <span id="idNavIndicator" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div hx-target="#mainId" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul hx-boost="true" hx-push-url="true" hx-indicator="#idNavIndicator" data-loading-states class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a data-loading-class="disabled" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a data-loading-class="disabled" class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a data-loading-class="disabled" class="nav-link text-dark" asp-area="" asp-controller="Manufacturer" asp-action="Index">Manufacturers</a>
                        </li>
                        <li class="nav-item">
                            <a data-loading-class="disabled" class="nav-link text-dark" asp-area="" asp-controller="Model" asp-action="Index">Models</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-loading-class="disabled" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cascading selects</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Select2x" asp-action="Index">2 x</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Select3x" asp-action="Index">3 x</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <noscript><h2>This website requires JavaScript to be enabled to function properly</h2></noscript>

    <div class="container">
        <main id="mainId" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="idOverlay">
        <div id="idErrorMessage">
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div hx-boost="true" hx-push-url="true" hx-target="#mainId" class="container">
            &copy; 2022 - Demo.AspNetCore.Htmx - 
             <a data-loading-class="disabled" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy&nbsp;
                <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true">
                </span>
             </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
